<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title></title>
</head>

<body style="margin:0; padding:0;">
   <table width="620" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#faf7ff">
      <tr>
         <td height="15" valign="top"></td>
         <td height="15" valign="top"></td>
         <td height="15" valign="top"></td>
      </tr>
      <tr>
         <td width="15" valign="top"></td>
         <td valign="top" bgcolor="#faf7ff">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                  <td height="105" align="center" valign="middle" bgcolor="#411f85">
                     <img src="images/SmartIDy_logo.png" width="220" />
                  </td>
               </tr>
               <tr>
                  <td valign="top">
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tr>
                           <td width="30" valign="top">&nbsp;</td>
                           <td valign="top">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                    <td height="31" valign="top"></td>
                                 </tr>
                                 <tr>
                                    <td align="center" valign="top"><img src="images/email-icon.png"
                                          style=" border:0;" /></td>
                                 </tr>
                                 <tr>
                                    <td height="14" valign="top"></td>
                                 </tr>
                                 <tr>
                                    <td align="center" valign="top"
                                       style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:18px; text-align:center; font-weight:600; color:#36364e;">
                                       Verify Email Address
                                       <br />
                                    </td>
                                 </tr>
                                 <tr>
                                    <td height="18" valign="top"></td>
                                 </tr>
                                 <tr>
                                    <td align="center" valign="middle">
                                       <table width="40" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                             <td height="2" valign="top" bgcolor="#411f85"></td>
                                          </tr>
                                       </table>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td height="20" valign="top">&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td align="center" valign="top"
                                       style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:16px; text-align:center; font-weight:600; color:#36364e;">
                                       {{email}}</td>
                                 </tr>
                                 <tr>
                                    <td height="10" valign="top"></td>
                                 </tr>
                                 <tr>
                                    <td align="center" valign="top"
                                       style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:14px; color:#333333;line-height:26px;">
                                       Your OTP is</td>
                                 </tr>
                                 <tr>
                                    <td height="15" valign="top"></td>
                                 </tr>
                                 <tr>
                                    <td height="18" align="center" valign="top">
                                       <table border="0" cellspacing="0" cellpadding="0"
                                          style="border:1px solid #e3e5ea;">
                                          <tr>
                                             <td width="15" height="42" align="center">&nbsp;</td>
                                             <td height="42" align="center"
                                                style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:24px; color:#ff6434;line-height:22px;letter-spacing: 2px;">
                                                <strong style="font-weight:600;">{{otp}}</strong>
                                             </td>
                                             <td width="15" height="42" align="center">&nbsp;</td>
                                          </tr>
                                       </table>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td height="15" valign="top"></td>
                                 </tr>
                                 <tr>
                                    <td align="center" valign="top"
                                       style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:14px; color:#333333;line-height:26px;">
                                       This OTP is valid for 5 minutes.<br> Please use it to complete your process.
                                    </td>
                                 </tr>
                                 <tr>
                                    <td height="40" valign="top"></td>
                                 </tr>
                              </table>
                           </td>
                           <td width="30" valign="top">&nbsp;</td>
                        </tr>
                     </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#222222">
                        <tr>
                           <td height="20" valign="top"></td>
                        </tr>
                        <tr>
                           <td valign="top">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                 <tr>
                                    <td align="center" valign="middle"
                                       style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff;line-height:22px">
                                       If you have any queries, contact us at <a href="mailto:smartidy.app@gmail.com"
                                          style="color:#2b83ed; text-decoration:underline;">smartidy.app@gmail.com</a>
                                    </td>
                                 </tr>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td height="20" valign="top"></td>
                        </tr>
                        <tr>
                           <td align="center" height="0" valign="top" style="border-top:1px solid #333333;"></td>
                        </tr>
                        <tr>
                           <td height="28" valign="top"></td>
                        </tr>
                        <tr>
                           <td align="center" valign="top"
                              style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff;line-height:22px;">
                              Cheers!<br>
                              <strong style="font-weight:600;">Team SmartIDy</strong><br>
                           </td>
                        </tr>
                        <tr>
                           <td height="28" valign="top">&nbsp;</td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
         </td>
         <td width="15" valign="top"></td>
      </tr>
      <tr>
         <td height="15" valign="top"></td>
         <td height="15" valign="top"></td>
         <td height="15" valign="top"></td>
      </tr>
   </table>
</body>

</html>
