body {
    font-family: var(--font);
    font-size: 14px;
    color: var(--secondary);
    position: relative;
    opacity: 1;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: var(--fw-regular);
}

strong {
    font-weight: var(--fw-medium);
}

a {
    outline: 0;
    border: 0;
    text-decoration: none;
}

button {
    outline: 0;

    &:focus {
        outline: 0;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.w-25 {
    width: 25% !important;
}

.align-self-center {
    align-self: center;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.content-sec {
    padding: 50px 0;
    min-height: 500px;
}

.page-section {
    margin: 0 auto;
    max-width: 100%;

    &.small-page {
        max-width: 500px;
    }

    .page-header {
        font-size: 28px;
        text-align: center;
        padding: 0 20px;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: '';
        }
    }

    .page-body {
    }
}

.panel {
    border: 1px solid var(--border);
    margin-bottom: 20px;
    border-radius: 4px;

    .panel-header {
        font-size: 20px;
        background: var(--territory-light);
        padding: 20px;
        overflow: hidden;

        small {
            font-size: 14px;
        }
    }

    .panel-body {
        padding: 20px;
        padding-bottom: 0;
    }

    .panel-footer {
        text-align: center;
        padding: 20px;
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;

        .btn {
            flex-grow: 1;
        }

        .link {
            display: inline-flex;
        }
    }
}

.page-link {
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    margin-bottom: 5px;
    display: inline-flex;
}

.form-control {
    min-height: 40px;
    padding: 6px 12px;
    border: 1px solid var(--border);
    border-radius: 3px;
    outline: 0;
    width: 100%;
    line-height: 1.5;
}

.control-error {
    margin-top: 4px;
    display: flex;
    color: #f50115;
    font-size: 12px;
}

.panel-error {
    display: flex;
    background: #ffdddf;
    border: 1px solid #fea6ad;
    color: #f50115;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    justify-content: center;
}

.control-note {
    margin-top: 4px;
    display: flex;
    font-size: 12px;
    color: var(--secondary);
}

.btn {
    min-height: 50px;
    padding: 6px 12px;
    border: 0;
    border: 1px solid;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;

    &.btn-block {
        width: 100%;
    }

    &.btn-primary {
        border-color: var(--primary);
        color: #fff;
        background-color: var(--primary);
    }

    &.btn-secondary {
        border-color: var(--border);
        color: var(--secondary);
        background-color: #fff;
    }
}

.link {
    color: var(--link);
    background: none;
    border: 0;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}

.password-rules {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;

    li {
        list-style: none;
        font-size: 11px;
        margin-bottom: 3px;
        color: var(--secondary-light);

        &:last-child {
            margin-bottom: 0;
        }

        i {
            margin-right: 5px;
        }

        &.active {
            i {
                color: var(--valid-color);
            }
        }
    }
}
