.welcome-sec {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    background: var(--territory);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .head-logo {
        margin-bottom: 20px;

        .brand-name {
            font-size: 45px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }
    }

    .head-desc {
        color: #fff;
        max-width: 1000px;
        text-align: center;
        font-size: 16px;
    }

    .welcome-user {
        font-size: 22px;
        margin-top: 30px;
        color: var(--primary);
    }

    .user-action {
        display: flex;
        align-items: center;
        margin-top: 15px;
        column-gap: 12px;
        .btn {
            font-size: 14px;
            min-height: 35px;
        }
    }
}
