@import './assets/fonts/font-awesome/css/all.css';

:root {
    --font: 'Poppins';
    --fw-thin: 100;
    --fw-ex-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-ex-bold: 800;
    --fw-black: 900;

    --active-bg: #c3eacc;
    --inactive-bg: #fee1e4;
    --process-bg: #fae7b2;
    --hold-bg: #ffcdb9;

    //Colors
    --primary: #ff6434;
    --territory: #411f85;
    --territory-light: #f3f1f7;
    --secondary: #212121;
    --secondary-light: #737373;
    --border: #d0d4da;
    --link: #065fd4;

    //Border-Radius
    --radius: 6px;

    //Social
    --email-color: #cc4d42;
    --sms-color: #0077b5;
    --whatsapp-color: #25d366;
    --messenger-color: #0084ff;
    --facebook-color: #3b5998;
    --instagram-color: #e4405f;
    --twitter-color: #55acee;
    --linkedin-color: #0077b5;
    --youtube-color: #cd201f;
    --tiktok-color: #ee1d52;
    --snapchat-color: #fffa37;
    --skype-color: #00aff0;
    --tumbler-color: #00405d;
    --quora-color: #b92b27;
    --pinterest-color: #bd081c;
    --behance-color: #1769ff;
    --dribble-color: #ea4c89;
    --telegram-color: #3390ec;
}

:root {
    scrollbar-width: thin;
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--secondary);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--secondary-light);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
